:root {
    --mainFontColor: magenta;
    --defaultBorderRadius: 15px;
    --backgroundColor: rgb(63, 63, 63);
    --secondFontColor: white;

}

body {
    background-color: var(--backgroundColor);
    color: var(--secondFontColor)
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 75px;
    color: var(--mainFontColor);
    margin: 15px;
}

header p {
    font: 30px;
    display: flex;
    text-align: center;
    margin: 30px;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.card-column {
    display: flex;
    border: dashed 2px;
    border-color: var(--secondFontColor);
    width: 30%;
    margin: 10px;
    padding: 10px;
}

figure {
    border: solid;
}

pre {
    background-color: var(--mainFontColor);
}

code {
    color: var(--secondFontColor);
}

@media (max-width: 992px) {
    .card-column {
        width: 47%;
    }
}

@media (max-width: 768px) {
    .card-column {
        width: 97%;
    }
}